*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
td,th{
    border: 3px double rgba(0, 0, 0, 0.397);
    padding: 10px;

}
table{
    border-collapse: collapse;
    width: 50%;
    text-align: center;
}
h3{
    color: red;
}

